*{
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

body{
    background-image: url(./images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    height: 120vh;


}

nav{
    width: 80%;
    height: 70px;
    background-color: black;
    margin: auto;
    margin-bottom: 150px;
    box-shadow: 2px 5px 30px rgb(244, 84, 31);
    border-radius: 20px;

}

nav img{
    height: 70px;
    margin-left: 50px;
}

nav ul{
    color: white;
    list-style: none;
    margin-right: 50px;
    margin-top: -45px;
}

nav ul li{
    float: right;
    margin-left: 20px;
    cursor: pointer;

}

nav ul li:hover{
    color: rgba(252, 111, 60, 0.949);
}


.content{
    width: 80%;
    color: white;
    margin: auto;
}


.card{
    width: 25%;
    height: 300px;
    background-color: rgba(255, 145, 0, 0.11);
    border: 2px rgb(208, 71, 25) solid;
    text-align: center;
    float: right;
    margin-right: 50px;
    border-radius: 20px;

    font-family:sans-serif;
    margin-top: 5px;

    transition: 2s;
}

.card:hover{
    border-top: 20px solid rgb(208, 71, 25);
    border-bottom: 20px solid rgb(208, 71, 25);
    
}

.card2:hover{
    opacity: 1;
}

.card h2{
    /* text-decoration: underline rgb(227, 86, 34); */
    color: rgb(255, 170, 0);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.btn{
    margin-top: 25px;
    padding: 10px 25px;
    border: 2px rgb(249, 96, 45) solid;
    border-radius: 30px;
    background-color: transparent;
    color: white;
    font-size: 15px;
    cursor: pointer;


    transition: 1s;
}

.btn:hover{
    box-shadow: 1px 1px 20px rgb(255, 64, 0);
    /* border: none; */
}